{
	"Asset": {
		"Folder": "asset"
	},
	"Email": {
		"Username": "",
		"Password": "",
		"Hostname": "",
		"Port": 25,
		"From": ""
	},
	"Form": {
		"FileStorageFolder": "filestorage"
	},
	"Generation": {
		"TemplateFolder": "generate"
	},
	"MySQL": {
		"Username": "root",
		"Password": "",
		"Database": "blueprint",
		"Charset": "utf8mb4",
		"Collation": "utf8mb4_unicode_ci",
		"Hostname": "127.0.0.1",
		"Port": 3306,
		"Parameter": "parseTime=true",
		"Migration": {
			"Folder": "migration/mysql",
			"Table": "migration_blueprint",
			"Extension": "sql"
		}
	},
	"Server": {
		"Hostname": "",
		"UseHTTP": true,
		"UseHTTPS": false,
		"RedirectToHTTPS": false,
		"HTTPPort": 80,
		"HTTPSPort": 443,
		"CertFile": "tls/server.crt",
		"KeyFile": "tls/server.key"
	},
	"Session": {
		"AuthKey": "PzCh6FNAB7/jhmlUQ0+25sjJ+WgcJeKR2bAOtnh9UnfVN+WJSBvY/YC80Rs+rbMtwfmSP4FUSxKPtpYKzKFqFA==",
		"EncryptKey": "3oTKCcKjDHMUlV+qur2Ve664SPpSuviyGQ/UqnroUD8=",
		"CSRFKey": "xULAGF5FcWvqHsXaovNFJYfgCt6pedRPROqNvsZjU18=",
		"Name": "sess",
		"Options": {
			"Path": "/",
			"Domain": "",
			"MaxAge": 28800,
			"Secure": false,
			"HttpOnly": true
		}
	},
	"Template": {
		"Root": "base",
		"Children": [
			"partial/favicon",
			"partial/menu",
			"partial/footer"
		]
	},
	"View": {
		"BaseURI": "/",
		"Extension": "tmpl",
		"Folder": "view",
		"Caching": true
	}
}