@import "asset/dynamic/sass/partial/variable";
@import "asset/dynamic/sass/partial/mixin";

/* CSS for Blue Jay Blueprint version #{$version}. */

// *****************************************************************************
// Global
// *****************************************************************************

body, h1, h2, h3, h4, h5, h6 {
	font-family: $fontFamily;
}

// *****************************************************************************
// Page
// *****************************************************************************

.page-header {
	border-bottom: 0;
	margin-top: 0;
}

// *****************************************************************************
// Flash Message
// *****************************************************************************

#flash-container {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 100;
	margin: 0;
}

.alert-box-fixed {
	margin: 0 15px 15px 0;
}

// *****************************************************************************
// Form
// *****************************************************************************

.button-form {
	display: inline-block;
}

// *****************************************************************************
// Table
// *****************************************************************************

.table-center {
	text-align: center;
	th {
		text-align: center;
	}
	th, td {
		vertical-align: middle !important;
	}
}

// *****************************************************************************
// Flicker on Load Fix for Glyphicons
// *****************************************************************************

.glyphicon {
   width: 14px;
   height: 14px;
}