{{define "title"}}Add Note{{end}}
{{define "head"}}{{end}}
{{define "content"}}
<div class="container">
	<div class="page-header">
		<h1>{{template "title" .}}</h1>
	</div>
	
	<form method="post" action="{{$.BaseURI}}notepad">
		<div class="form-group">
			<label for="note">Note</label>
			<div><textarea rows="5" class="form-control" id="note" name="note" placeholder="Type your note here..." />{{.item}}</textarea></div>
		</div>
		
		<button type="submit" class="btn btn-success" title="Save" />
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save
		</button>
		
		<a title="Back to Notepad" class="btn btn-default" role="button" href="{{$.BaseURI}}notepad">
			<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Back
		</a>
		
		<input type="hidden" name="_token" value="{{$.token}}">
		<input type="hidden" name="_method" value="{{$.method}}">
	</form>
	
	{{template "footer" .}}
</div>
{{end}}
{{define "foot"}}{{end}}