<link rel="apple-touch-icon" sizes="57x57" href="asset/dynamic/favicon/logo.png/apple-touch-icon-57x57.png?v1.0=3eepn6WlLO">
<link rel="apple-touch-icon" sizes="60x60" href="asset/dynamic/favicon/logo.png/apple-touch-icon-60x60.png?v1.0=3eepn6WlLO">
<link rel="apple-touch-icon" sizes="72x72" href="asset/dynamic/favicon/logo.png/apple-touch-icon-72x72.png?v1.0=3eepn6WlLO">
<link rel="apple-touch-icon" sizes="76x76" href="asset/dynamic/favicon/logo.png/apple-touch-icon-76x76.png?v1.0=3eepn6WlLO">
<link rel="apple-touch-icon" sizes="114x114" href="asset/dynamic/favicon/logo.png/apple-touch-icon-114x114.png?v1.0=3eepn6WlLO">
<link rel="apple-touch-icon" sizes="120x120" href="asset/dynamic/favicon/logo.png/apple-touch-icon-120x120.png?v1.0=3eepn6WlLO">
<link rel="apple-touch-icon" sizes="144x144" href="asset/dynamic/favicon/logo.png/apple-touch-icon-144x144.png?v1.0=3eepn6WlLO">
<link rel="apple-touch-icon" sizes="152x152" href="asset/dynamic/favicon/logo.png/apple-touch-icon-152x152.png?v1.0=3eepn6WlLO">
<link rel="apple-touch-icon" sizes="180x180" href="asset/dynamic/favicon/logo.png/apple-touch-icon-180x180.png?v1.0=3eepn6WlLO">
<link rel="icon" type="image/png" href="asset/dynamic/favicon/logo.png/favicon-32x32.png?v1.0=3eepn6WlLO" sizes="32x32">
<link rel="icon" type="image/png" href="asset/dynamic/favicon/logo.png/android-chrome-192x192.png?v1.0=3eepn6WlLO" sizes="192x192">
<link rel="icon" type="image/png" href="asset/dynamic/favicon/logo.png/favicon-96x96.png?v1.0=3eepn6WlLO" sizes="96x96">
<link rel="icon" type="image/png" href="asset/dynamic/favicon/logo.png/favicon-16x16.png?v1.0=3eepn6WlLO" sizes="16x16">
<link rel="manifest" href="asset/dynamic/favicon/logo.png/manifest.json?v1.0=3eepn6WlLO">
<link rel="mask-icon" href="asset/dynamic/favicon/logo.png/safari-pinned-tab.svg?v1.0=3eepn6WlLO" color="#525252">
<link rel="shortcut icon" href="asset/dynamic/favicon/logo.png/favicon.ico?v1.0=3eepn6WlLO">
<meta name="msapplication-TileColor" content="#525252">
<meta name="msapplication-TileImage" content="asset/dynamic/favicon/logo.png/mstile-144x144.png?v1.0=3eepn6WlLO">
<meta name="msapplication-config" content="asset/dynamic/favicon/logo.png/browserconfig.xml?v1.0=3eepn6WlLO">
<meta name="theme-color" content="#525252">