/* CSS for Blue Jay Blueprint version 1.0. */
body, h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.page-header {
  border-bottom: 0;
  margin-top: 0;
}

#flash-container {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 100;
  margin: 0;
}

.alert-box-fixed {
  margin: 0 15px 15px 0;
}

.button-form {
  display: inline-block;
}

.table-center {
  text-align: center;
}

.table-center th {
  text-align: center;
}

.table-center th, .table-center td {
  vertical-align: middle !important;
}

.glyphicon {
  width: 14px;
  height: 14px;
}
