{{define "title"}}About{{end}}
{{define "head"}}{{end}}
{{define "content"}}
<div class="container">
	<div class="page-header">
		<h1>{{template "title" .}}</h1>
	</div>
	<p>This blueprint lays the foundation for a web application using the Go language without being framework. 
	These tools can help your project get moving quickly.</p>
	{{template "footer" .}}
</div>
{{end}}
{{define "foot"}}{{end}}