{{define "title"}}About Blueprint{{end}}
{{define "head"}}{{end}}
{{define "content"}}
	<div class="page-header">
		<h1>{{template "title" .}}</h1>
	</div>
	<p>Blueprint lays the foundation for your web application using the Go language.</p>
	{{template "footer" .}}
{{end}}
{{define "foot"}}{{end}}